:root {
  --paper: oklch(0.7 0.1024 27);
  --ink: color-mix(in oklab, var(--color) 20%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 3px solid;
  --container: 1280px;
}
/* ====== Base Elements ======*/
body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
}
a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
}
img,
svg {
  width: 30%;
  object-fit: cover;
}
/* ====== Site Layout ======
*/
main {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
}
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}
/* ====== Articles Grid Layout ===*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  > *:first-child {
    grid-column: span 2;
  }
}
/* ====== Article Layout ======*/
article {
  border: var(--line);
  padding-bottom: var(--space);
  text-align: left;
  display: grid;
  grid-template-columns: var(--space) 1fr var(--space);
  > * {
    grid-column: 2/3;
  }
  > img {
    grid-column: span 3;
  }
}